<div id="container" style="width: <%= @width_image %>px; height: <%= @height_image %>px;">
    <img src="<%= @url_image %>" />
    <div id="layer-out"></div>
    <div id="layer-in" style="width: <%= @width %>px; height: <%= @height %>px; background-image: url(<%= @url_image %>);"></div>
</div>

<form action="<%= @url_next %>">
    <input type="hidden" name="x" id="x" />
    <input type="hidden" name="y" id="y" />
    <input type="hidden" name="width" value="<%= @width %>" />
    <input type="hidden" name="height" value="<%= @height %>" />
    <input type="hidden" name="crop" value="<%= true %>" />
    <input type="hidden" name="resize" value="<%= @resize %>" />
    <p class="next">
        <a class="button" href="<%= @url_previous %>"><i class='fa fa-chevron-left'></i> Previous</a>
        <button type="submit">Download <i class='fa fa-download'></i></button>
    <p>
</form>
